.nav {
    position: fixed;
    background: #fff;
    z-index: 999;
    width: 100%;
    top: 0;
    box-shadow: 0 0 14px 4px $textColor;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px;
    }

    &__list {
        display: flex;
        column-gap: 71px;
    }

    &__link {
        color: $textColor;

        &.router-link-exact-active {
            color: $baseColor;
        }
    }

    &__shop {
        position: relative;

        span {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 20px;
            width: 20px;
            text-align: center;
            border-radius: 50%;
            background: $baseColor;
            color: #fff;
            font-size: 12px;
            display: grid;
            place-items: center;
        }
    }

}